:root {
    --primary-bg: MintCream;
    --secondary-bg: GhostWhite;
}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-bg);
}

#bg-img-container {
    position: relative;
}

#bg-img-container img {
    max-width: auto;
    max-height: 100vh;
}

.logo-container {
    display: flex;
    position: absolute;
    top: 30vh;
    left: 0;
}

.attribution {
    position: absolute;
    bottom: 0;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex: auto;
    text-align: center;
}

.form-container {
    background-color: var(--secondary-bg);
}